@media (max-width: 768px) {
    .default-margin-solutions-right,
    .default-margin-solutions-left {
        -webkit-margin-start: 0 !important;
        margin-inline-start: 0 !important;
        -webkit-margin-end: 0 !important;
        margin-inline-end: 0 !important;
    }
    .page-margin-navbar {
        margin-top: 70px;
    }

    .only-mobile {
        display: block;
        position: absolute;
        right: 24px;
        top: 31px;
    }
    .container {
        margin: 0 !important;
        padding-left: 23px !important;
        padding-right: 23px !important;
        max-width: unset !important;
    }
    .default-margin {
        margin-left: 23px !important;
        margin-right: 23px !important;
    }
    .default-padding {
        padding-left: 23px !important;
        padding-right: 23px !important;
    }
    .primary {
        width: 118px;
        height: 36px;
        font-size: 12px;
        padding: 9px 32px;
    }
    .secondary {
        width: 114px;
        height: 28px;
        font-size: 9px;
        padding: 9px 11px;
        border: 0px !important;
    }
    .secondary img {
        max-width: 9px;
        max-height: 9px;
    }
    .third {
        width: 114px;
        height: 28px;
        font-size: 9px;
        padding: 9px 11px;
    }
    .third img {
        max-width: 9px;
        max-height: 9px;
    }
    .navbar {
        height: 100px !important;
        min-height: 100px !important;
    }
    .navbar .navbar-nav {
        padding-top: 100px !important;
        background: black;
    }
    .navbar .navbar-collapse {
        position: absolute;
        background-color: black;
        left: -23px;
        right: -23px;
        height: 1000px;
        top: 0;
        overflow: auto;
    }
    .navbar .navbar-collapse .dropdown-toggle::after {
        margin-left: 0.655em !important;
        content: url(../img/dropdown-arrow-ic.svg) !important;
        border: none;
        vertical-align: 1px !important;
        display: inline-block !important;
    }
    .navbar .nav-item {
        font-size: 20px;
        font-weight: 600;
        text-align: start;
        margin-bottom: 30px;
        min-height: unset !important;
        padding: 0 !important;
    }
    .navbar .active {
        border: none !important;
    }
    .navbar .navbar-brand img {
        max-width: 116px !important;
    }
    .navbar .dropdown-menu {
        width: unset !important;
        background-color: black;
        right: unset;
        left: unset;
    }
    .navbar .dropdown-menu .dropdown-menu-left,
    .navbar .dropdown-menu .dropdown-menu-right {
        width: 100%;
    }
    .navbar .dropdown-menu .dropdown-menu-inner {
        flex-direction: column !important;
        padding: 0 !important;
        padding-left: 10px !important;
    }
    .navbar .dropdown-menu .solution-item img {
        display: none;
    }
    .navbar .dropdown-menu .solution-item {
        font-size: 16px;
        color: white;
        font-family: "poppins-medium" !important;
        font-weight: 100;
    }
    .index-headline-main {
        margin-top: 100px;
    }
    .index-headline-main .video-player-text-main {
        top: 15% !important;
        left: 0;
        right: 0;
    }
    .index-headline-main .video-player-text-main .video-player-title {
        font-size: 20px !important;
        margin-bottom: 10px;
    }
    .index-headline-main .video-player-text-main .video-player-desc {
        font-size: 12px;
        max-width: 320px;
        margin: unset;
        margin-bottom: 20px;
    }
    .section {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .section .section-title {
        font-size: 20px;
        margin-bottom: 50px;
    }
    .section .section-sub-title {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    .section .section-sub-desc {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .customized-solutions-main .col-3 {
        width: 50%;
    }
    .customized-solutions-main .solution-item {
        justify-content: space-around;
        margin: auto;
        margin-bottom: 60px !important;
    }
    .customized-solutions-main .solution-item .solution-img {
        max-width: 34px;
        max-height: 34px;
    }
    .customized-solutions-main .solution-item . {
        font-size: 13px;
        margin-bottom: 10px;
        margin-top: 18px;
        max-width: 135px;
    }
    .customized-solutions-main .mt-100 {
        margin-top: 0px;
    }
    .about-main-index {
        padding-bottom: 185px;
        padding-top: 60px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .about-main-index .row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .about-main-index .about-main-button-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-main-index .about-main-button-div .about-main-button {
        margin-top: 20px;
    }
    .about-main-index .section-title {
        text-align: center !important;
    }
    .about-main-index .section-sub-title {
        text-align: center !important;
        margin-bottom: 10px;
        padding: 0 !important;
        font-size: 14px;
    }
    .about-main-index .section-sub-desc {
        text-align: center !important;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 0 !important;
        font-size: 12px;
    }
    .about-main-index .about-main-customer-review-section {
        bottom: -130px;
        z-index: 10;
        max-height: 250px;
    }
    .about-main-index .about-main-customer-review-section video {
        -o-object-fit: cover;
        object-fit: cover;
        height: 250px;
    }
    .about-main-index .about-main-customer-review-section .row {
        padding-top: 55px;
        padding-bottom: 50px;
        max-height: 250px;
    }
    .about-main-index .about-main-customer-review-section .count-item {
        justify-content: center;
        align-items: center;
        height: 145px;
    }
    .about-main-index .about-main-customer-review-section .count-item img {
        max-height: 44px;
        max-width: 34px;
    }
    .about-main-index .about-main-customer-review-section .count-item .count {
        margin-top: 30px;
        font-size: 24px;
    }
    .about-main-index
        .about-main-customer-review-section
        .count-item
        .count-text {
        font-size: 12px;
    }
    .our-customers-main-index {
        padding-top: 185px;
        padding-bottom: 30px;
    }
    .our-customers-main-index .section-title {
        margin-bottom: 12px;
    }
    .our-customers-main-index .customer-img-list .customer-img {
        max-width: 70px;
        max-height: 80px;
        margin: 0px 14px;
        margin-top: 30px;
        padding: 0;
    }
    .our-partners-main-index {
        padding-top: 30px;
        padding-bottom: 61px;
    }
    .our-partners-main-index .section-title {
        margin-bottom: 32px;
    }
    .our-partners-main-index .customer-img-list .customer-img {
        max-width: 70px;
        max-height: 80px;
        margin: 0px 14px;
        margin-top: 30px;
        padding: 0;
    }
    .footer .footer-top {
        background-image: url(../img/footer.png) !important;
        padding-top: 70px;
        padding-bottom: 170px;
    }
    .footer .footer-top .row {
        flex-direction: column-reverse;
    }
    .footer .footer-top .row .col-4:first-child .footer-logo,
    .footer .footer-top .row .col-4:first-child .footer-desc {
        display: none !important;
    }
    .footer .footer-top .col-4 {
        width: 100%;
    }
    .footer .footer-top .footer-social {
        align-items: center;
        justify-content: center;
    }
    .footer .footer-top .footer-social a {
        margin: 0 7px;
    }
    .footer .footer-top .footer-social a img {
        max-width: 22px;
    }
    .footer .footer-top .footer-title {
        font-size: 16px;
        /* margin-bottom: 37px; */
    }
    .footer .footer-top .footer-link-list,
    .footer .footer-top .footer-logo,
    .footer .footer-top .footer-desc {
        padding: 0;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        padding-left: 18px;
        padding-right: 18px;
        margin-top: 50px;
    }
    .footer .footer-top .footer-link-list h4,
    .footer .footer-top .footer-logo h4,
    .footer .footer-top .footer-desc h4 {
        width: 100%;
    }
    .footer .footer-top .footer-link-list a,
    .footer .footer-top .footer-logo a,
    .footer .footer-top .footer-desc a {
        width: 50%;
    }
    .footer .footer-top .footer-contact h4 {
        /* margin-left: 55px; */
    }
    .footer .footer-top .footer-contact img {
        max-width: 17px;
        -webkit-margin-start: 0 !important;
        margin-inline-start: 0 !important;
    }
    .footer .footer-top .footer-contact span {
        font-size: 14px;
    }
    .footer .copyright {
        height: 147px;
        position: relative;
    }
    .footer .copyright .col-4 {
        width: 100%;
    }
    .footer .copyright .float-end {
        float: unset !important;
    }
    .footer .copyright .footer-copyright-text {
        font-size: 14px;
        position: absolute;
        bottom: 180px;
        max-width: 97vw;
        padding-left: 15px !important;
    }
    .footer .copyright .footer-social {
        position: absolute;
        bottom: 250px;
        align-items: center;
        max-width: 97vw;
    }
    .footer .copyright #switchlang {
        font-size: 14px;
        width: 239px !important;
        height: 50px !important;
        background-position-y: 13px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }
    .who-are-we-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .who-are-we-section .who-are-we-main .who-are-we-row .who-are-we-content {
        width: 100% !important;
    }
    .who-are-we-section
        .who-are-we-main
        .who-are-we-row
        .who-are-we-content
        .title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .who-are-we-section
        .who-are-we-main
        .who-are-we-row
        .who-are-we-content
        .sub-title {
        text-align: center;
        font-size: 12px !important;
        margin-bottom: 10px;
    }
    .who-are-we-section
        .who-are-we-main
        .who-are-we-row
        .who-are-we-content
        .desc {
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .who-are-we-section .who-are-we-main .who-are-we-row .who-are-we-image {
        width: 100% !important;
    }
    .who-are-we-section .who-are-we-main .who-are-we-row .who-are-we-image img {
        width: 250px;
        height: 160px;
    }
    .our-vision-section {
        padding-bottom: 40px;
    }
    .our-vision-section .our-vision-main .our-vision-row {
        flex-direction: column;
    }
    .our-vision-section .our-vision-main .our-vision-row .our-vision-content {
        max-width: 439px;
        padding: 0 23px;
    }
    .our-vision-section
        .our-vision-main
        .our-vision-row
        .our-vision-content
        .title {
        margin-top: 40px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .our-vision-section
        .our-vision-main
        .our-vision-row
        .our-vision-content
        .desc {
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .our-vision-section .our-vision-main .our-vision-row .our-vision-image img {
        height: unset;
        width: 100%;
    }
    .meet-ceo-section {
        padding-top: 50px;
    }
    .meet-ceo-section .meet-ceo-main .meet-ceo-row {
        flex-direction: column;
    }
    .meet-ceo-section .meet-ceo-main .meet-ceo-row .meet-ceo-content {
        width: 90%;

        justify-content: center;
        margin-left: 0px;
    }
    .meet-ceo-section
        .meet-ceo-main
        .meet-ceo-row
        .meet-ceo-content
        .title-header {
        text-align: center;
        font-size: 12px;
        letter-spacing: 1.32px;
    }
    .meet-ceo-section .meet-ceo-main .meet-ceo-row .meet-ceo-content .title {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .meet-ceo-section .meet-ceo-main .meet-ceo-row .meet-ceo-content .desc {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .meet-ceo-section .meet-ceo-main .meet-ceo-row .meet-ceo-image {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .meet-ceo-section .meet-ceo-main .meet-ceo-row .meet-ceo-image img {
        margin-left: 40px;
        width: 20px;
        height: 223px;
        margin-bottom: 20px;
    }
    .pta-main-index {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .pta-main-index .container .title {
        font-size: 19px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .pta-main-index .container .desc {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .pta-main-index .container .image {
        width: 90vw;
        height: 44px;
        margin: 0 !important;
        text-align: center;
    }
    .pta-main-index .container .accredite-logo {
        width: 145px;
        height: 33px;
        margin: auto !important;
    }
    .our-team-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .our-team-section .our-team-main .our-team-row .col-7 {
        width: 100%;
    }
    .our-team-section .our-team-main .our-team-row .our-team-content {
        max-width: 100%;
    }
    .our-team-section .our-team-main .our-team-row .our-team-content .title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .our-team-section
        .our-team-main
        .our-team-row
        .our-team-content
        .sub-title {
        text-align: center;
        font-size: 14px;
    }
    .core-team-section {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .core-team-section .core-team-main .title {
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
    .core-team-section .core-team-main .core-team-member-list .col-3 {
        padding: 0 !important;
        width: 100% !important;
    }
    .core-team-section
        .core-team-main
        .core-team-member-list
        .core-team-member {
        margin-bottom: 30px;
        width: 100%;
        align-items: center;
    }
    .core-team-section
        .core-team-main
        .core-team-member-list
        .core-team-member
        .image {
        width: 145px;
        height: 145px;
        margin: 0 !important;
        align-items: center;
    }
    .core-team-section
        .core-team-main
        .core-team-member-list
        .core-team-member
        .name {
        text-align: center;
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 15px;
    }
    .core-team-section
        .core-team-main
        .core-team-member-list
        .core-team-member
        .job {
        text-align: center;
        max-width: 150px;
        display: inline-block;
        font-size: 12px;
    }
    .digital-team-section {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .digital-team-section .digital-team-main .title {
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
    .digital-team-section .digital-team-main .digital-team-member-list .col-3 {
        padding: 0 !important;
        width: 50% !important;
    }
    .digital-team-section
        .digital-team-main
        .digital-team-member-list
        .digital-team-member {
        margin-bottom: 30px;
    }
    .digital-team-section
        .digital-team-main
        .digital-team-member-list
        .digital-team-member
        .image {
        width: 155px;
        height: 155px;
    }
    .digital-team-section
        .digital-team-main
        .digital-team-member-list
        .digital-team-member
        .name {
        font-size: 16px;
        margin-bottom: 4px;
        margin-top: 30px;
    }
    .digital-team-section
        .digital-team-main
        .digital-team-member-list
        .digital-team-member
        .job {
        font-size: 12px;
    }
    .contact-us-section {
        padding-top: 60px;
        padding-bottom: 230px;
    }
    .contact-us-section .contact-us-main .contact-us-row .contact-us-content {
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
    }
    .contact-us-section
        .contact-us-main
        .contact-us-row
        .contact-us-content
        .sub-header {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .contact-us-section
        .contact-us-main
        .contact-us-row
        .contact-us-content
        .title {
        text-align: center;
        font-size: 24px;
        max-width: 250px;
    }
    .contact-info-section {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 1235px;
    }
    .contact-info-section .contact-info-main {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content {
        display: flex;
        position: absolute;
        bottom: -10px;
        gap: 50px;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-header {
        display: flex;
        flex-direction: column;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .desc {
        font-size: 16px;
        margin-bottom: 0px;
        max-width: 290px;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address
        .contact-info-address-p1
        .item,
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address
        .contact-info-address-p2
        .item {
        margin-bottom: 18px !important;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address
        .contact-info-address-p1
        .item
        img,
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address
        .contact-info-address-p2
        .item
        img {
        -webkit-margin-end: 15px;
        margin-inline-end: 15px;
        width: 17px;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address
        .contact-info-address-p1
        .item
        span,
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address
        .contact-info-address-p2
        .item
        span {
        max-width: 235px;
        font-size: 14px;
    }
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address
        .contact-info-address-p1
        .item
        a,
    .contact-info-section
        .contact-info-main
        .contact-info-row
        .contact-info-content
        .contact-info-address
        .contact-info-address-p2
        .item
        a {
        font-size: 14px;
        max-width: 234px;
    }
    .contact-info-section .contact-form {
        max-width: unset;
        padding: 40px;
        top: -160px;
        right: 23px;
        left: 23px;
        border-radius: 16px;
    }
    .contact-info-section .contact-form .input-row {
        width: 100%;
        padding: 0;
    }
    .contact-info-section .contact-form .input-row label {
        font-size: 16px;
        margin-bottom: 10px;
        padding: 0;
    }
    .contact-info-section .contact-form .input-row input {
        border-radius: 10px;
        padding: 11px 16px;
        height: 40px;
        margin-bottom: 20px;
        width: 100%;
    }
    .contact-info-section .contact-form .input-row :-ms-input-placeholder {
        font-size: 14px;
    }
    .contact-info-section .contact-form .input-row ::-moz-placeholder {
        font-size: 14px;
    }
    .contact-info-section .contact-form .input-row ::placeholder {
        font-size: 14px;
    }
    .contact-info-section .contact-form .fleet-area {
        padding: 0;
    }
    .contact-info-section .contact-form .fleet-area .title {
        margin-top: 0px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .contact-info-section .contact-form .fleet-area .fleet-value {
        font-size: 14px;
        margin-top: 10px;
    }
    .contact-info-section .contact-form .checkbox-row {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .contact-info-section .contact-form .checkbox-row .checkbox-item {
        width: 100%;
    }
    .contact-info-section .contact-form .checkbox-row .title {
        font-size: 16px;
        margin-top: 10px;
    }
    .contact-info-section .contact-form .checkbox-row label {
        font-size: 14px;
        -webkit-margin-start: 10px;
        margin-inline-start: 10px;
        margin-bottom: 10px;
    }
    .contact-info-section .contact-form .checkbox-row .form-check-input {
        width: 14px;
        height: 14px;
    }
    .contact-info-section .contact-form .message-row {
        margin-top: 10px;
        padding: 0;
    }
    .contact-info-section .contact-form .message-row label {
        font-size: 16px;
        margin-bottom: 11px;
    }
    .contact-info-section .contact-form .message-row textarea {
        padding: 18px 26px;
        margin-bottom: 20px;
        max-height: 135px;
    }
    .contact-info-section .contact-form .secondary {
        width: 100% !important;
        text-align: center;
        position: relative;
        width: 288px;
        height: 34px;
        font-size: 12px;
    }
    .contact-info-section .contact-form .secondary img {
        position: absolute;
        right: 10px;
        max-width: 11px;
        max-height: 11px;
    }
    .solution-header-section {
        padding-top: 10px;
        padding-bottom: 10px;
        /* height: 700px; */
    }
    .solution-header-section .solution-header-main {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .solution-header-section .solution-header-main .solution-header-row {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-title-area {
        padding-top: 0px;
        width: 100%;
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-title-area
        .solution-tag {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 7px 28px;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-title-area
        .solution-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-title-area
        .solution-sub-title {
        font-size: 14px;
        max-width: 291px;
        margin-bottom: 25px;
        text-align: center;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-content-area {
        padding: 0;
        width: 100%;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-content-area
        .content-title {
        font-size: 12px;
        margin-bottom: 18px;
        max-width: 95%;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-content-area
        .solution-feature-list {
        flex-direction: column !important;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-content-area
        .solution-feature-list
        .feature
        .feature-arrow {
        -webkit-margin-end: 20px;
        margin-inline-end: 20px;
        width: 14px;
        height: 14px;
        margin-top: 2.5px;
    }
    .solution-header-section
        .solution-header-main
        .solution-header-row
        .solution-header-content-area
        .solution-feature-list
        .feature
        .feature-desc {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .dark-gradiant,
    .light-gradiant {
        display: none !important;
    }
    .right-image-solution-section {
        height: unset !important;
    }
    .right-image-solution-section
        .right-image-solution-main
        .right-image-solution-row {
        display: flex;
        flex-direction: column-reverse;
        -webkit-margin-start: 0 !important;
        margin-inline-start: 0 !important;
    }
    .right-image-solution-section
        .right-image-solution-main
        .right-image-solution-row
        .right-image-solution-image {
        width: 100%;
    }
    .right-image-solution-section
        .right-image-solution-main
        .right-image-solution-row
        .right-image-solution-image
        .image {
        width: 100%;
        height: 195px;
    }
    .right-image-solution-section
        .right-image-solution-main
        .right-image-solution-row
        .right-image-solution-content {
        padding: 0 23px;
    }
    .right-image-solution-section
        .right-image-solution-main
        .right-image-solution-row
        .right-image-solution-content
        .title {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 40px;
        margin-bottom: -30px;
        text-align: center;
    }
    .right-image-solution-section
        .right-image-solution-main
        .right-image-solution-row
        .right-image-solution-content
        .desc {
        font-size: 12px;
        margin-top: 25px;

        /* margin-bottom: 40px; */
        text-align: center;
    }
    .left-image-solution-section {
        height: unset !important;
    }
    .left-image-solution-section
        .left-image-solution-main
        .left-image-solution-row {
        display: flex;
        flex-direction: column;
        -webkit-margin-end: 0 !important;
        margin-inline-end: 0 !important;
    }
    .left-image-solution-section
        .left-image-solution-main
        .left-image-solution-row
        .left-image-solution-image {
        width: 100%;
    }
    .left-image-solution-section
        .left-image-solution-main
        .left-image-solution-row
        .left-image-solution-image
        .image {
        width: 250px;
        height: 195px;
    }
    .left-image-solution-section
        .left-image-solution-main
        .left-image-solution-row
        .left-image-solution-content {
        padding: 0 23px;
    }
    .left-image-solution-section
        .left-image-solution-main
        .left-image-solution-row
        .left-image-solution-content
        .title {
        text-align: center;
        font-size: 20px;
        margin-bottom: -30px;
        margin-top: 40px;
    }
    .left-image-solution-section
        .left-image-solution-main
        .left-image-solution-row
        .left-image-solution-content
        .desc {
        text-align: center;
        font-size: 12px;
        margin-top: 30px;
        /* margin-bottom: 40px; */
    }
    .why-tracking-section {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .why-tracking-section .why-tracking-main {
        padding-top: 40px;
        padding-bottom: 40px;
        background-size: cover;
        border-radius: 25px;
    }
    .why-tracking-section .why-tracking-main .title {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .why-tracking-section .why-tracking-main .desc {
        font-size: 12px;
        max-width: 285px;
    }
    .our-customers-main-about {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .navbar-shop-btn {
        margin: 0px !important;
    }
    .careers-header-section {
        height: unset !important;
    }
    .working-benefits-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .working-benefits-area .title-area .title {
        font-size: 20px;
        margin-bottom: 32px;
    }
    .working-benefits-area .job-features .job-features-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 0 !important;
    }
    .working-benefits-area .job-features .job-features-row .job-feature {
        width: 100%;
        margin-bottom: 45px;
    }
    .working-benefits-area .job-features .job-features-row .job-feature img {
        max-width: 30px;
        max-height: 30px;
        margin-bottom: 14px;
    }
    .working-benefits-area .job-features .job-features-row .job-feature .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .working-benefits-area .job-features .job-features-row .job-feature .desc {
        font-size: 14px;
    }
    .vacancies-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .vacancies-area .title-area .title {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .vacancies-area .jobs-list-main .jobs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .vacancies-area .jobs-list-main .jobs .job {
        width: 100%;
        height: 205px;
        -webkit-margin-end: 0 !important;
        margin-inline-end: 0 !important;
        margin-bottom: 16px;
    }
    .vacancies-area .jobs-list-main .jobs .job .title {
        font-size: 18px;
    }
    .vacancies-area .jobs-list-main .jobs .job .btn {
        font-size: 16px;
    }
    .demo-main {
        padding: 0px;
        height: unset !important;
    }
    .demo-main .solution-header-main {
        padding-bottom: 0 !important;
    }
    .demo-main .col-4 {
        width: 100%;
        align-items: start !important;
    }
    .demo-main .col-4 span {
        max-width: unset !important;
        text-align: start !important;
    }
    .demo-video-main {
        padding-top: 0;
        padding-bottom: 60px;
        position: relative;
        background-color: white !important;
    }
    .demo-video-main .demo-video {
        position: initial;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .demo-video-main .demo-video iframe {
        width: 90%;
        height: 170px;
    }
    .blog-main-header {
        height: unset !important;
        padding-top: 60px;
        padding-bottom: 30px;
        justify-content: start;
        text-align: start !important;
    }
    .blog-main-header .solution-header-main {
        padding: 0 !important;
    }
    .blog-main-header .solution-header-title-area {
        justify-content: start !important;
        align-items: start !important;
        padding: 0 23px !important;
    }
    .blog-main-header .solution-header-title-area span {
        text-align: start !important;
    }
    .blog-main-header .solution-title {
        margin-bottom: 0px !important;
    }
    .blog-main-header-main {
        padding-top: 0px;
        padding-bottom: 60px;
        background-color: white;
    }
    .blog-main-header-main .blog-items {
        display: flex;
        flex-direction: column;
        position: initial;
        gap: 20px;
    }
    .blog-main-header-main .blog-items .blog-item {
        width: 100%;
        height: 444px;
    }
    .blog-main-header-main .blog-items .blog-item .text-area {
        padding: 30px;
    }
    .blog-main-header-main .blog-items .blog-item .text-area .title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .blog-main-header-main .blog-items .blog-item .image img {
        height: 264px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .blog-header-main .blog-header-title {
        font-size: 20px;
        text-align: center;
        max-width: 320px;
    }
    .blog-header-main .blog-image-1,
    .blog-header-main .blog-image-2 {
        min-height: 270px;
        justify-content: center;
        background-size: cover;
        width: 100%;
    }
    .blog-header-main .blog-image-1 div,
    .blog-header-main .blog-image-2 div {
        display: flex;
    }
    .blog-text-main {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .blog-text-main .text-line {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .index-headline-main-tracking-pakistan {
        position: relative;
    }
    .index-headline-main-tracking-pakistan video {
        min-height: 370px;
    }
    .index-headline-main-tracking-pakistan .video-player-text-main {
        top: 30% !important;
        right: 0;
        left: 0;
    }
    .index-headline-main-tracking-pakistan
        .video-player-text-main
        .video-player-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .index-headline-main-tracking-pakistan
        .video-player-text-main
        .video-player-desc {
        font-size: 9px;
        margin-bottom: 5px;
        text-align: center;
    }
    .services-solutions-main .services-features-imagelist .solution-item {
        width: 140px;
        height: 150px;
    }
    .services-solutions-main
        .services-features-imagelist
        .solution-item
        .solution-img {
        max-width: 45px;
        max-height: 45px;
    }
    .services-solutions-main .services-features-imagelist .solution-item . {
        font-size: 12px;
    }
    .about-main-index .feature-item-list {
        display: flex;
        flex-direction: column;
        margin-top: 0 !important;
        padding-top: 30px;
    }
    .about-main-index .feature-item-list .list {
        width: 100%;
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .about-main-index .feature-item-list .list span {
        font-size: 14px;
    }
    .about-main-index .feature-item-list .list .list-features p {
        font-size: 14px;
    }
    .about-main-index .feature-item-list .list .list-features p img {
        width: 12px;
        height: 12px;
    }
    .our-vision-section-p .title,
    .our-vision-section-p .desc {
        text-align: unset !important;
    }
    .vision-area {
        margin-top: 0 !important;
    }
    .vision-area .left-section {
        width: 100% !important;
    }
    .vision-area .title {
        font-size: 20px !important;
    }
    .vision-area .desc {
        font-size: 12px !important;
    }
    .vision-area .second-section {
        display: flex;
        flex-direction: column;
    }
    .vision-area .second-section .left-section .title {
        margin-top: 10px !important;
    }
    .vision-area .second-section .left-section .desc {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
    .vision-area .second-section .right-section {
        width: 100% !important;
    }
    .vision-area .second-section .right-section .title {
        margin-top: 10px !important;
    }
    .vision-area .second-section .right-section .desc {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
    .about-main-index-tracking {
        padding-bottom: 50px !important;
    }
    .about-main-index-tracking .our-vision-image,
    .about-main-index-tracking .our-vision-content {
        width: 100% !important;
    }
    .about-main-index-tracking .our-vision-image img,
    .about-main-index-tracking .our-vision-content img {
        width: 100% !important;
    }
    .about-main-index-tracking .our-vision-content {
        -webkit-padding-start: 0px;
        padding-inline-start: 0px;
    }
    .our-customer-pakistan {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .packages-section {
        padding-top: 50px;
    }
    .packages-section .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .packages-section .sub-title {
        font-size: 16px;
    }
    .packages-section .sub-button {
        font-size: 14px;
        margin-top: 10px;
    }
    .packages-section .desc {
        margin-top: 20px;
        font-size: 12px;
    }
    .packages-features .packages-main {
        display: flex;
        flex-direction: column;
        left: 25px;
        right: 25px;
    }
    .packages-features .packages-main .packages-list {
        width: 100%;
        border: 2px solid #000000 !important;
        border-start-end-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        border-start-end-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        border-radius: 10px !important;
        margin-bottom: 20px;
    }
    .packages-features .packages-main .packages-list .title {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-size: 16px;
    }
    .packages-features .packages-main .packages-list .desc-list span {
        font-size: 14px !important;
    }
    .packages-features .second {
        padding-top: 2900px;
    }
    .packages-features .header {
        margin-bottom: 25px;
    }
    .packages-features .header .header-title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .packages-features .header .header-desc {
        font-size: 14px;
    }
    .packages-features .thirdd {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .pakistan-url {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pakistan-url .title {
        font-size: 20px;
    }
    .section {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 350px) {
    .core-team-section {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .core-team-section .core-team-main .title {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }
    .core-team-section .core-team-main .core-team-member-list .col-3 {
        padding: 0 !important;
        width: 50% !important;
    }
    .core-team-section
        .core-team-main
        .core-team-member-list
        .core-team-member {
        margin-bottom: 30px;
    }
    .core-team-section
        .core-team-main
        .core-team-member-list
        .core-team-member
        .image {
        width: 120px;
        height: 120px;
        margin: 0 !important;
    }
    .core-team-section
        .core-team-main
        .core-team-member-list
        .core-team-member
        .name {
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px;
        margin-top: 15px;
    }
    .core-team-section
        .core-team-main
        .core-team-member-list
        .core-team-member
        .job {
        text-align: center;
        max-width: 150px;
        display: inline-block;
        font-size: 10px;
    }

    .slider {
        height: 70%;
        position: relative;
        overflow: hidden;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .slider__nav {
        width: 12px;
        height: 12px;
        margin: 2rem 12px;
        border-radius: 50%;
        z-index: 10;
        outline: 6px solid #ccc;
        outline-offset: -6px;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .slider__nav:checked {
        -webkit-animation: check 0.4s linear forwards;
        animation: check 0.4s linear forwards;
    }
    .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
        left: 0%;
    }
    .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
        left: -100%;
    }
    .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
        left: -200%;
    }
    .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
        left: -300%;
    }
    .slider__inner {
        position: absolute;
        height: 50px;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    .slider__contents {
        padding: 20px;
        height: 200px%;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .slider__image {
        font-size: 2.7rem;
        color: #2196f3;
    }
    .slider__caption {
        font-size: medium;
        font-weight: 500;
        margin: 0.5rem 0 0.5rem;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }
    .slider__txt {
        color: #999;
        margin-bottom: 1rem;
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .demo-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Two divs per row */
        gap: 5px; /* Adjust as needed */
    }
    .heading-left {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
    }

    .demo-1 {
        font-size: 12px;
        display: flex;
        align-items: flex-start;
    }
    .demo-1 .feature-arrow {
        margin-right: 6px;
    }
    .demo-2 {
        font-size: 10px;
        display: flex;
        align-items: flex-start;
    }
    .demo-2 .feature-arrow {
        margin-right: 6px;
    }
    .test-livetracking-text {
        font-size: 10px;
        display: flex;
        align-items: flex-start;
    }
    .test-livetracking-text .feature-arrow {
        margin-right: 6px;
    }
    .image-header {
        margin-top: 200px;
        position: absolute;
        margin-left: 110px;
    }
    .slider-container {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-left: 0px;
        background-color: white;
    }

    /* Styles for the slider content */
    .slider-content {
        display: flex;
        transition: transform 0.5s;
    }

    /* Styles for individual slide items */
    .slide {
        width: 200px;
        .slider-container {
            width: 100%;
            position: relative;
            overflow: hidden;
            margin-left: 0px;
            background-color: white;
        }

        /* Styles for the slider content */
        .slider-content {
            display: flex;
            transition: transform 0.5s;
        }

        /* Styles for individual slide items */
        .slide {
            width: 200px;
            height: 200px;
            flex-shrink: 0;
        }

        /* Styles for the dot buttons container */
        .dot-buttons {
            text-align: center;
            margin-top: 10px;
        }

        /* Styles for individual dot buttons */
        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #ccc;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }

        /* Style for the active dot button */
        .active {
            background-color: black;
        }
        flex-shrink: 0;
    }

    /* Styles for the dot buttons container */
    .dot-buttons {
        text-align: center;
        margin-top: 10px;
    }

    /* Styles for individual dot buttons */
    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }

    /* Style for the active dot button */
    .active {
        background-color: black;
    }
}
/*# sourceMappingURL=mobile.css.map */
