

@media (min-width: 1026px) and (max-width: 1226px) {
  .contact-info-section .contact-info-main .contact-info-row .contact-info-content {
      // margin-left: -100px !important;
      margin-bottom: 600px !important;
  }
}


@media (min-width: 768px) and (max-width: 1025px) {
  .page-margin-navbar {
    margin-top: 100px;
  }

  .container {
    margin: 0 !important;
    padding-left: 118px !important;
    // padding-right: 7px !important;
    max-width: unset !important;
  }

  .default-margin {
    margin-left: 118px !important;
    margin-right: 118px !important;
  }

  .default-padding {
    padding-left: 30px !important;
    padding-right: 0px !important;
  }

  .primary {
    width: 118px;
    height: 36px;
    font-size: 12px;
    padding: 9px 32px;
    margin-top: -413px;

  }

  .secondary {
    width: 114px;
    height: 28px;
    font-size: 9px;
    padding: 9px 11px;

    img {
      max-width: 9px;
      max-height: 9px;
    }
  }

  .third {
    width: 114px;
    height: 28px;
    font-size: 9px;
    padding: 9px 11px;

    img {
      max-width: 9px;
      max-height: 9px;
    }
  }

  .navbar {
    height: 100px !important;
    min-height: 100px !important;

    .nav-item {
      font-size: 12px;
      min-height: 29px;
      padding-left: 10px !important;
      padding-right: 10px !important;
      white-space: nowrap;
    }

    .navbar-brand {
      img {
        max-width: 118px !important;
      }
    }

    .navbar-shop-btn {
      // margin-top: 10px;
      margin-inline-start: 10px;
      width: 77px;
      height: 29px;
      font-size: 12px !important;
      img {
        width: 15px;
      }
    }

    .dropdown-menu {
      width: 640px;
      background-color: white;
      right: -335% !important;
      left: unset;
      border-radius: 20px;
      top: 35px;

      .solution-item {
        .solution-name {
          color: #6e6e6e;
          font-size: 12px;
        }
      }
    }
  }

  .index-headline-main {
    .video-player-text-main {
      top: 40% !important;

      .video-player-title {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .video-player-desc {
        font-size: 14px;
        max-width: 540px;
        margin: auto;
        margin-bottom: 75px;
      }
    }
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;

    .section-title {
      font-size: 24px;
      margin-bottom: 43px;
    }

    .section-sub-title {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 16px;
    }

    .section-sub-desc {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  .customized-solutions-main {
    .solution-item {
      justify-content: space-around;
      margin: auto;

      .solution-img {
        max-width: 34px;
        max-height: 34px;
      }

      .solution-name {
        font-size: 13px;
        margin-bottom: 10px;
        margin-top: 18px;
        max-width: 135px;
      }
    }

    .mt-100 {
      margin-top: 60px;
    }
  }

  .about-main-index {
    padding-bottom: 200px;

    .about-main-customer-review-section {
      bottom: -130px;
      z-index: 10;

      .row {
        padding-top: 50px;
        padding-bottom: 60px;
      }

      .count-item {
        img {
          max-height: 45px;
        }

        .count {
          margin-top: 17px;
          font-size: 36px;
        }

        .count-text {
          font-size: 12px;
        }
      }
    }
  }

  .our-customers-main-index {
    padding-top: 225px;
    padding-bottom: 50px;

    .section-title {
      margin-bottom: 20px;
    }

    .customer-img-list {
      .customer-img {
        max-width: 81px;
        max-height: 81px;
        margin: 0px 5px;
      }
    }
  }

  .our-partners-main-index {
    padding-top: 50px;

    .section-title {
      margin-bottom: 20px;
    }

    .customer-img-list {
      .customer-img {
        max-width: 81px;
        max-height: 81px;
        margin: 0px 5px;
      }
    }
  }

  .footer {
    .footer-top {
      .col-4 {
        padding: 0 !important;
      }

      .footer-logo {
        max-width: 118px !important;
        margin-bottom: 20px !important;
      }

      .footer-desc {
        font-size: 12px;
      }

      .footer-social {
        a {
          margin: 0 5px;

          img {
            max-width: 20px;
          }
        }
      }

      .footer-title {
        font-size: 16px;
        margin-bottom: 36px;
      }

      .footer-link-list {
        padding-left: 7% !important;
      }

      .footer-link {
        font-size: 12px;
      }

      .footer-contact {
        h4 {
          margin-left: 55px;
        }

        img {
          max-width: 17px;
        }

        span {
          font-size: 14px;
        }
      }
    }

    .copyright {
      height: 100px;

      .footer-copyright-text {
        font-size: 12px;
      }

      #switchlang {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
        width: 133px;
        height: 40px;
        background-position-y: 8px;
      }
    }
  }

  .who-are-we-section {
    .who-are-we-main {
      .who-are-we-row {
        .who-are-we-content {
          width: 65% !important;

          .title {
            font-size: 24px;
            margin-bottom: 20px;
          }

          .sub-title {
            font-size: 16px;
            margin-bottom: 16px;
          }

          .desc {
            font-size: 14px;
            margin-bottom: 15px;
          }
        }

        .who-are-we-image {
          width: 35% !important;

          img {
            width: 138px;
            height: 152px;
          }
        }
      }
    }
  }

  .our-vision-section {
    .our-vision-main {
      .our-vision-row {
        .our-vision-content {
          max-width: 439px;

          .title {
            font-size: 24px;
            margin-bottom: 16px;
          }

          .desc {
            font-size: 12px;
            margin-bottom: 15px;
          }
        }

        .our-vision-image {
          img {
            height: -webkit-fill-available;
            max-height: 280px !important;
          }
        }
      }
    }
  }

  .meet-ceo-section {
    .meet-ceo-main {
      .meet-ceo-row {
        .meet-ceo-content {
          .title-header {
            font-size: 12px;
            letter-spacing: 1.32px;
          }

          .title {
            font-size: 20px;
            margin-bottom: 16px;
          }

          .desc {
            font-size: 14px;
            margin-bottom: 10px;
          }
        }

        .meet-ceo-image {
          img {
            width: 264px;
            height: 290px;
          }
        }
      }
    }
  }

  .pta-main-index {
    .container {
      .title {
        margin-top: 20px;
        font-size: 24px;
        margin-bottom: 20px;
      }

      .desc {
        font-size: 14px;
        margin-bottom: 20px;
      }

      .image {
        width: 496px;
        height: 60px;
        margin: auto;
      }

      .accredite-logo {
        height: 41px;
        width: 145px;
      }
    }
  }

  .our-team-section {
    padding-top: 157px;
    padding-bottom: 157px;

    .our-team-main {
      .our-team-row {
        .col-7 {
          width: 100%;
        }

        .our-team-content {
          max-width: 100%;

          .title {
            font-size: 24px;
            margin-bottom: 20px;
          }

          .sub-title {
            font-size: 18px;
          }
        }
      }
    }
  }

  .core-team-section {
    padding-top: 100px;
    padding-bottom: 40px;

    .core-team-main {
      .title {
        font-size: 24px;
        margin-bottom: 60px;
      }

      .core-team-member-list {
        .col-3 {
          padding: 0 !important;
        }

        .core-team-member {
          margin-bottom: 60px;

          .image {
            width: 180px;
            height: 180px;
            margin: auto;
          }

          .name {
            font-size: 16px;
            margin-bottom: 4px;
            margin-top: 16px;
          }

          .job {
            font-size: 12px;
          }
        }
      }
    }
  }

  .digital-team-section {
    padding-top: 100px;
    padding-top: 40px;

    .digital-team-main {
      .title {
        font-size: 24px;
        margin-bottom: 60px;
      }

      .digital-team-member-list {
        .col-3 {
          padding: 0 !important;
        }

        .digital-team-member {
          margin-bottom: 60px;

          .image {
            width: 180px;
            height: 180px;
          }

          .name {
            font-size: 16px;
            margin-bottom: 4px;
            margin-top: 16px;
          }

          .job {
            font-size: 12px;
          }
        }
      }
    }
  }

  .contact-us-section {
    padding-top: 60px;
    padding-bottom: 262px;

    .contact-us-main {
      .contact-us-row {
        .contact-us-content {
          display: flex;
          align-items: center;
          margin: auto;

          .sub-header {
            font-size: 20px;
            margin-bottom: 10px;
          }

          .title {
            text-align: center;

            font-size: 32px;
            max-width: 300px;
          }
        }
      }
    }
  }

  .contact-info-section {
    position: relative;

    padding-top: 100px;
    padding-bottom: 600px;
    min-height: 900px;

    .contact-info-main {
      display: flex;
      flex-direction: column-reverse;

      .contact-info-row {
        .contact-info-content {
          flex-direction: row;
          display: flex;
          position: absolute;
          bottom: 100px;
          gap: 15px;

          .contact-info-header {
            display: flex;
            flex-direction: column;
          }

          .title {
            font-size: 20px;
            margin-bottom: 10px;
          }

          .desc {
            font-size: 16px;
            margin-bottom: 0px;
            max-width: 290px;
          }

          .contact-info-address {
            display: flex;
            flex-direction: row;

            gap: 15px;

            .contact-info-address-p1,
            .contact-info-address-p2 {
              .item {
                margin-bottom: 20px !important;

                img {
                  margin-inline-end: 15px;
                  width: 17px;
                }

                span {
                  max-width: 235px;
                  font-size: 14px;
                }

                a {
                  font-size: 14px;
                  max-width: 234px;
                }
              }
            }
          }
        }
      }
    }

    .contact-form {
      max-width: unset;
      padding: 64px;
      top: -215px;
      right: 110px;
      left: 110px;

      .input-row {
        label {
          font-size: 16px;
          margin-bottom: 10px;
          padding: 0;
        }

        input {
          border-radius: 10px;
          padding: 11px 16px;
          height: 40px;
          margin-bottom: 20px;
          width: 100%;
        }

        ::-webkit-input-placeholder {
          /* Edge */
          font-size: 14px;
        }

        :-ms-input-placeholder {
          font-size: 14px;
        }

        ::placeholder {
          font-size: 14px;
        }
      }

      .fleet-area {
        .title {
          margin-top: 10px;
          font-size: 16px;
          margin-bottom: 13px;
        }

        .fleet-value {
          font-size: 14px;
          margin-top: 10px;
        }
      }

      .checkbox-row {
        .title {
          font-size: 16px;
        }

        label {
          font-size: 14px;
          margin-inline-start: 10px;
          margin-bottom: 10px;
        }

        .form-check-input {
          width: 14px;
          height: 14px;
        }
      }

      .message-row {
        margin-top: 45px;

        label {
          font-size: 16px;
          margin-bottom: 11px;
        }

        textarea {
          padding: 18px 26px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .solution-header-section {
    padding: 0;
    height: 440px;

    .solution-header-main {
      .solution-header-row {
        .solution-header-title-area {
          padding: 0;

          .solution-tag {
            padding: 9px 27px;
            font-size: 16px;
            margin-bottom: 16px;
          }

          .solution-title {
            font-size: 24px;
            margin-bottom: 16px;
          }

          .solution-sub-title {
            font-size: 18px;
            max-width: 252px;
          }
        }

        .solution-header-content-area {
          padding: 0;

          .content-title {
            font-size: 14px;
            margin-bottom: 24px;
            max-width: 453px;
          }

          .solution-feature-list {
            .feature {
              .feature-arrow {
                margin-inline-end: 20px;
                width: 14px;
                height: 14px;
                margin-top: 2.5px;
              }

              .feature-desc {
                font-size: 14px;
                margin-bottom: 8px;
              }
            }
          }
        }
      }
    }
  }

  .right-image-solution-section {
    height: 280px;

    .right-image-solution-main {
      .right-image-solution-row {
        .right-image-solution-image {
          .image {
            height: 280px;
            width: 498px;
          }
        }

        .right-image-solution-content {
          .title {
            font-size: 24px;
            margin-bottom: 16px;
          }

          .desc {
            font-size: 12px;
          }
        }
      }
    }
  }

  .left-image-solution-section {
    height: 390px;

    .left-image-solution-main {
      .left-image-solution-row {
        .left-image-solution-image {
          .image {
            height: 390px;
            width: 380px;
          }
        }

        .left-image-solution-content {
          .title {
            font-size: 20px;
            margin-bottom: 10px;
          }

          .desc {
            font-size: 12px;
          }
        }
      }
    }
  }

  .why-tracking-section {
    margin-top: 100px;
    margin-bottom: 100px;

    .why-tracking-main {
      padding-top: 74px;
      padding-bottom: 74px;

      .title {
        font-size: 24px;
        margin-bottom: 16px;
      }

      .desc {
        font-size: 12px;
        max-width: 550px;
      }
    }
  }

  .our-customers-main-about {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }

  .working-benefits-area {
    padding-top: 100px;
    padding-bottom: 100px;

    .title-area {
      .title {
        font-size: 24px;
        margin-bottom: 30px;
      }
    }

    .job-features {
      .job-features-row {
        margin-bottom: 45px;
        .job-feature {
          width: 45%;
          img {
            max-width: 30px;
            max-height: 30px;
            margin-bottom: 15px;
          }
          .title {
            font-size: 20px;
            margin-bottom: 20px;
          }
          .desc {
            font-size: 14px;
          }
        }
      }
    }
  }

  .careers-join {
    padding: 100px 0;
  }

  .vacancies-area {
    padding-top: 100px;
    padding-bottom: 100px;

    .title-area {
      .title {
        font-size: 24px;
        margin-bottom: 30px;
      }
    }

    .jobs-list-main {
      .jobs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .job {
          height: 205px;

          margin-inline-end: 14px;
          margin-bottom: 14px;

          .title {
            font-size: 18px;
          }
          .btn {
            font-size: 16px;

            &:hover {
            }
          }
        }
      }
    }
  }

  .demo-main {
    padding-top: 150px;
    padding-bottom: 50px;
    height: unset !important;
    .col-4 {
      width: 100%;
      span {
        max-width: unset !important;
      }
    }
  }
  .demo-video-main {
    padding-top: 0;
    padding-bottom: 126px;
    position: relative;
    background-color: white !important;
    .demo-video {
      position: initial;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      iframe {
        width: 788px;
        height: 380px;
      }
    }
  }
  .blog-main-header {
    height: unset !important;
    padding-bottom: 250px;
    padding-top: 100px;
  }
  .blog-main-header-main {
    padding-top: 137px;
    padding-bottom: 150px;
    .blog-items {
      top: -210px;
      right: 115px;
      left: 115px;

      .blog-item {
        height: 444px;

        .text-area {
          .title {
            font-size: 18px;
            margin-bottom: 20px;
          }
        }
        .image {
          img {
            height: 264px;
          }
        }
      }
    }
  }

  .blog-header-main {
    .blog-header-title {
      font-size: 24px;
    }
    .blog-image-1,
    .blog-image-2 {
      min-height: 270px;
    }
  }

  .blog-text-main {
    padding-top: 100px;
    padding-bottom: 70px;

    .text-line {
      margin-bottom: 30px;
      font-size: 14px;
    }
  }

  .index-headline-main-tracking-pakistan {
    position: relative;

    .video-player-text-main {
      top: 30% !important;
      right: 0;
      left: 0;

      .video-player-title {
        width: 60%;
        margin-top: 30px;
        font-size: 40px;
        margin-bottom: 25px;
      }

      .video-player-desc {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }

  .services-solutions-main {
    .services-features-imagelist {
      .solution-item {
        width: 220px;
        height: 230px;

        .solution-img {
          max-width: 50px;
          max-height: 50px;
        }

        .solution-name {
          font-size: 14px;
        }
      }
    }
  }

  .about-main-index .feature-item-list {
    margin-top: 20px;
    .list span {
      font-size: 16px;
      line-height: 2;
    }
  }

  .about-main-index .feature-item-list .list .list-features p span {
    font-size: 16px !important;
    line-height: 2;
    white-space: nowrap;
  }

  .about-main-index .our-vision-section {
    margin-top: 100px;
  }

  .about-main-index-tracking {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 100px !important;
  }

  .about-main-index .vision-area .left-section .title {
    font-size: 24px;
  }
  .about-main-index .vision-area .left-section .desc {
    font-size: 12px;
  }

  .about-main-index .vision-area .second-section {
    display: flex;
    flex-direction: column;
    .left-section,
    .right-section {
      width: 100%;
      .title {
        margin-top: 50px !important;
        font-size: 16px;
      }
      .desc {
        font-size: 12px;
      }
    }
  }

  .our-customer-pakistan {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }

  .packages-section {
    padding-top: 100px;

    .title {
      margin-bottom: 25px;
      font-size: 24px;
    }
    .sub-title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .sub-button {
      font-size: 16px;
    }
    .desc {
      margin-top: 25px;
      font-size: 16px;
    }
  }

  .packages-features {
    .packages-main {
      .packages-list {
        .title {
          font-size: 16px;
          padding: 10px 20px;
        }
        .desc-list {
          span {
            font-size: 12px;
          }
        }
      }
    }
  }

  .packages-features .second {
    padding-top: 800px !important;
  }

  .packages-features {
    .header {
      margin-bottom: 25px;

      .header-title {
        font-size: 20px;
      }
      .header-desc {
        font-size: 16px;
      }
    }
  }

  .packages-features .thirdd {
    padding-bottom: 100px;
  }

  .pakistan-url {
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  .about-main-index .feature-item-list .list .list-features p span {
    font-size: 16px !important;
    line-height: 2.2 !important;
  }

  .about-main-index .feature-item-list .list .list-features p img {
    width: 15px;
  }

  .about-main-index .feature-item-list .list span {
    white-space: nowrap;
  }

  .about-main-index .feature-item-list .list {
    padding-left: 10px;
    padding-right: 10px;
  }
}
